- unless @posts.nil? or @posts.empty?
  - @posts.each do |post|
    %div{ id: 'postlist'}
      %div{class: 'panel'}
        %div{class: 'panel-heading'}
          %div{class: 'text-center'}
            %div{class: 'row'}
              .col-sm-8
                %h3{class: 'pull-left'}
                  %a{href: "/post/#{post['_id']['$oid']}"} #{post['title']}
              .col-sm-4
                %h4{class: 'pull-right'}
                  %small
                    %em #{Time.at(post['created_at'].to_i).strftime('%d-%m-%Y')}
                    %br #{Time.at(post['created_at'].to_i).strftime('%H:%M')}
        .panel-footer
          %a{href: "#{post['link']}", class: 'btn btn-link'} Go to the link
